html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

.navbar {
  border-left: none;
  border-right: none;
  border-top: none;
}

#Copyright {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 90%;
  height: 40px;
  font-size: 12px;
  border-top: 1px solid #eee;
  margin-left: 40px;
  color: gray;
}

#Copyright p{
  text-align:left;
}

#home {
  margin-left: 10px;
  font-size: 15px;
}

#navbar-right {
  margin-right: 150px;
}

.col-md-3 hr {
  margin-top: 10px;
}

footer{
    color: #ccc;
}

.box {
  border: 1px red dotted;
}

.container {
  max-width: 1500px;
}

.text {
  margin-right: 50px;
}

.post-title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}

.aside-title {
  letter-spacing: 1px;
  font-weight: 300;
}

.pager {
  margin-top: 50px;
}

.pager li>a{
  border: none;
  color: #000;
}

.pager li a:hover {
  background: #fafafa;
}

.pager li.active a {
  background: #fff;
}

.container .label-default {
  background-color: #abb2b9;
}
