#Copyright {
  position: fixed;
  bottom: 10px;
  display: block;
  margin-left: 40px;
  text-align: center;
  width: 90%;
  color: gray;
}

#Copyright p{
  text-align:left;
}

#home {
  margin-left: 10px;
}

.col-md-3 hr {
  margin-top: 10px;
}

footer{
    color: #ccc;
}

.box {
  border: 1px red dotted;
}

.container {
  max-width: 1500px;
}

.text {
  margin-right: 50px;
}
