.row header h2 {
  margin-bottom: 0px;
}

.row footer {
  margin-bottom: 10px;
}

.lead {
  margin-bottom: 10px;
}

.row h4{
  margin-bottom: 0px;
}

#searchbar{
  border: none;
  background-color: #fafafa;
  outline: none;
  width: 200px;
}

#search {
  border: none;
  background-color: inherit;
}

header h2 a{
  color: #000;
  text-decoration: none;
}

header h2 a:hover {
  color: #000;
  text-decoration: none;
}

.container article {
  padding-top: 10px;
}

.container article footer {
  padding-top: 10px;
}
